/*---------------------*/
/*Colours*/
/*---------------------
Primary Colour (Blue): #0091FF
Primary Colour Hover: Primary Color Hover: #087FDA
Secondary Colour (Orange): #ff9900
Secondary Colour Hover: #E28B07
*/


/*---------------------*/
/*General*/
/*---------------------*/
#commerce-pos-sale-wrapper, #commerce-pos-pay-form-wrapper {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif!important;
}

#commerce-pos-sale-wrapper a, #commerce-pos-pay-form-wrapper a {
  color: #0091FF;
}

#commerce-pos-sale-wrapper a:hover, #commerce-pos-sale-wrapper a:focus,
#commerce-pos-pay-form-wrapper a:hover, #commerce-pos-pay-form-wrapper a:focus {
  color: #087FDA;
  text-decoration: underline;
}

#commerce-pos-sale-wrapper .form-item {
  margin: 20px 0;
}

#commerce-pos-sale-wrapper textarea,
#commerce-pos-sale-wrapper select,
#commerce-pos-sale-wrapper input {
  margin: 0;
  padding: 5px 10px;
  border-radius: 2px;
  height: auto;
  max-width: 100%;
  background: #fff;
  box-sizing: border-box;
  vertical-align: baseline;
}

#commerce-pos-sale-wrapper .quantity-wrapper input[type="text"] {

}

#commerce-pos-sale-wrapper button, #commerce-pos-sale-wrapper input[type="reset"],
#commerce-pos-sale-wrapper input[type="submit"], #commerce-pos-sale-wrapper input[type="button"],
#commerce-pos-pay-form-wrapper button, #commerce-pos-pay-form-wrapper input[type="reset"],
#commerce-pos-pay-form-wrapper input[type="submit"], #commerce-pos-pay-form-wrapper input[type="button"],
#commerce-pos-report-results-container input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  outline: 0;
  overflow: visible;
  padding: 5px 10px;
  margin: 0 4px 0 0;
  width: auto;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #DADADA;
  background: #fff;
  transition: all .15s ease-in-out;
}

#commerce-pos-sale-wrapper button:hover,
#commerce-pos-sale-wrapper input:hover,
#commerce-pos-pay-form-wrapper button:hover,
#commerce-pos-pay-form-wrapper input:hover,
#commerce-pos-report-results-container input[type="submit"]:hover,
#commerce-pos-sale-wrapper button:focus,
#commerce-pos-sale-wrapper input:focus,
#commerce-pos-pay-form-wrapper button:focus,
#commerce-pos-pay-form-wrapper input:focus,
#commerce-pos-report-results-container input[type="submit"]:focus {
  background: #f9f9f9;
}

/*Sidebar*/
#commerce-pos-pay-balance-wrapper .form-actions {
  margin: 20px 0;
}

#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit,
#commerce-pos-location-float-form .form-submit {
  background: #0091FF;
  border: 0;
  margin: 0 0 5px 0;
  border-radius: 2px;
  padding: 10px 20px;
  color: #fff;
  display: block;
  width: 100%;
  transition: all .15s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit:hover,
#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit:focus,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit:hover,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit:focus,
#commerce-pos-location-float-form .form-submit:hover ,
#commerce-pos-location-float-form .form-submit:focus {
  background: #087FDA;
}

#commerce-pos-location-float-form .form-submit{
  width: 100px;
}

#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit:last-of-type {
  margin-right: 0;
}

#commerce-pos-transactions-options-wrapper .commerce-pos-btn-pay.form-submit,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit:first-of-type,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .commerce-pos-payment-finish-btn {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  margin: 0 0 20px 0;
  background: #ff9900;
}

#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .commerce-pos-btn-pay.form-submit:hover,
#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .commerce-pos-btn-pay.form-submit:focus,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit:first-of-type:hover,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit:first-of-type:focus,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .commerce-pos-payment-finish-btn:hover,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .commerce-pos-payment-finish-btn:focus {
  background: #E28B07;
}

#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit.form-button-disabled,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit.form-button-disabled,
#commerce-pos-sale-wrapper .commerce-pos-col-transaction-info .form-submit.form-button-disabled:hover,
#commerce-pos-pay-form-wrapper .commerce-pos-col-transaction-info .form-submit.form-button-disabled:focus {
  background-color: #eee!important;
  color: #A2A2A2;
  border-color: #ccc;
  cursor: default;
}

.form-item .commerce-pos-hidden-element {
  display: none;
}

.parked-transactions-wrapper {
  margin-top: 15px;
  padding: 15px 0 0 0;
  /*background: #F0F0F0;*/
  border-top: 1px solid #eee
}

.commerce-pos-receipt-print-previous {
  margin: 0 0 0 20px;
}

#commerce-pos-sale-wrapper .button-link,
#commerce-pos-sale-wrapper .button-link:hover,
#commerce-pos-sale-wrapper button.button-link, #commerce-pos-sale-wrapper input[type="reset"].button-link,
#commerce-pos-sale-wrapper input[type="submit"].button-link, #commerce-pos-sale-wrapper input[type="button"].button-link,
#commerce-pos-pay-form-wrapper button.button-link, #commerce-pos-pay-form-wrapper input[type="reset"].button-link,
#commerce-pos-pay-form-wrapper input[type="submit"].button-link, #commerce-pos-pay-form-wrapper input[type="button"].button-link,
#commerce-pos-report-results-container input[type="submit"].button-link,
#commerce-pos-sale-wrapper button.button-link:hover, #commerce-pos-sale-wrapper input[type="reset"].button-link:hover,
#commerce-pos-sale-wrapper input[type="submit"].button-link:hover, #commerce-pos-sale-wrapper input[type="button"].button-link:hover,
#commerce-pos-pay-form-wrapper button.button-link:hover, #commerce-pos-pay-form-wrapper input[type="reset"].button-link:hover,
#commerce-pos-pay-form-wrapper input[type="submit"].button-link:hover, #commerce-pos-pay-form-wrapper input[type="button"].button-link:hover,
#commerce-pos-report-results-container input[type="submit"].button-link:hover{
  border: none;
  background: transparent;
  font-weight: normal;
  color: #2698f2;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

#commerce-pos-sale-wrapper .button-link.button-link:hover,
#commerce-pos-sale-wrapper button.button-link:hover, #commerce-pos-sale-wrapper input[type="reset"].button-link:hover,
#commerce-pos-sale-wrapper input[type="submit"].button-link:hover, #commerce-pos-sale-wrapper input[type="button"].button-link:hover,
#commerce-pos-pay-form-wrapper button.button-link:hover, #commerce-pos-pay-form-wrapper input[type="reset"].button-link:hover,
#commerce-pos-pay-form-wrapper input[type="submit"].button-link:hover, #commerce-pos-pay-form-wrapper input[type="button"].button-link:hover,
#commerce-pos-report-results-container input[type="submit"].button-link:hover{
  text-decoration: underline;
}

#commerce-pos-sale-wrapper .button-link.small,
#commerce-pos-sale-wrapper input[type="submit"].button-link.small,
#commerce-pos-pay-form-wrapper .button-link.small,
#commerce-pos-pay-form-wrapper input[type="submit"].button-link.small{
  font-size: 12px;
}

/*---------------------*/
/*Header*/
/*---------------------*/
#commerce-pos-header {
  margin: 0 0 20px 0;
  padding: 20px;
  color: #fff;
  background: #313131;
  border-radius: 2px;
}

#commerce-pos-header #pos-logo {
  float: left;
  margin: 0 30px 0 0;
  max-width: 218px;
}

#commerce-pos-header #pos-logo img {
  max-width: 100%;
  height: auto;
}

#commerce-pos-header .commerce-pos-header-links {
  float: left;
  margin: 0;
}

#commerce-pos-header .commerce-pos-header-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#commerce-pos-header .commerce-pos-header-links ul li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

#commerce-pos-header .commerce-pos-header-links ul li:last-child {
  margin-right: 0;
}

#commerce-pos-header .commerce-pos-header-links ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #0091FF;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: all .15s ease-in-out;
}

#commerce-pos-header .commerce-pos-header-links ul li a:hover,
#commerce-pos-header .commerce-pos-header-links ul li a:focus {
  color: #fff;
  background: #087FDA;
}

#commerce-pos-header .commerce-pos-header-links ul li a.active {
  color: #fff;
  background: transparent;
  border: 2px solid #0091FF;
  cursor: default;
}

#commerce-pos-header .commerce-pos-header-links ul li a.active:focus {
  background: rgba(255,255,255,0.2);
}

#commerce-pos-header .commerce-pos-header-employee-info {
  float: right;
  margin: 0;
  padding: 8px 0 0 0;
}

#commerce-pos-header .commerce-pos-header-employee-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#commerce-pos-header .commerce-pos-header-employee-info ul li {
  float: left;
  margin: 0 11px 0 0;
  padding: 0 14px 0 0;
  background: url(../images/bullet_header.png) 100% 50% no-repeat;
  color: #9C9C9C;
}

#commerce-pos-header .commerce-pos-header-employee-info ul li em {
  font-weight: bold;
}

#commerce-pos-header .commerce-pos-header-employee-info ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

#commerce-pos-header .commerce-pos-header-employee-info ul li a {
  color: #fff;
  text-decoration: none;
}

#commerce-pos-header .commerce-pos-header-employee-info ul li a:hover,
#commerce-pos-header .commerce-pos-header-employee-info ul li a:focus {
  color: #0091FF;
  text-decoration: none;
}

/*---------------------*/
/*Product Search*/
/*---------------------*/
/*#edit-product-search .form-item {*/
  /*margin: 10px 0;*/
/*}*/

#commerce-pos-sale-wrapper .commerce-pos-product-search-container .form-item {
  margin: 10px 0;
}


/*---------------------*/
/*Sale*/
/*---------------------*/
.commerce-pos-col-products {
  float: left;
  width: 75%;
  padding-right: 20px;
  box-sizing: border-box;
}

.commerce-pos-col-transaction-info {
  float: left;
  width: 25%;
}

.commerce-pos-col-transaction-info .btn {
  margin-bottom: 5px;
}

.commerce-pos-col-transaction-info .table-striped > tbody > tr:nth-of-type(2n+1),
.commerce-pos-col-transaction-info .table-striped > tbody > tr {
  background: #fff;
}

.commerce-pos-transaction-id {
  padding: 0 0 5px 0;
  font-size: 22px;
}

.payment-totals-table .label {
  display: table-cell;
  text-align: left;
}

.payment-totals-table .balance {
  display: table-cell;
  text-align: right;
}

.commerce-pos-product-search-container {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #f0f0f0;
}

.commerce-pos-product-search-container label {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 21px;
  text-transform: capitalize;
  vertical-align: middle;
}

.commerce-pos-product-search-container input.form-control {
  display: inline-block;
  vertical-align: top;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper {
  clear: both;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .form-item {
  display: inline-block;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .line-item-row-wrapper {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .line-item-col {
  position: relative;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 15%;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper label {
  padding: 0 5px;
  color: #0091FF;
  border: 1px solid transparent;
  border-bottom-color: #0091FF;
  transition: all .15s ease-in-out;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper label:hover,
.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper label:focus {
  background: rgba(0, 126, 255, 0.1);
}

#commerce-pos-sale-wrapper .price-edit-wrapper input,
#commerce-pos-sale-wrapper .quantity-wrapper input[type="text"]{
  padding: 3px 8px;
  color: #0091FF;
  border: 1px solid #0091FF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0;
  text-align: right;
}

#commerce-pos-sale-wrapper .quantity-wrapper input[type="text"] {
  width: 45px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper .textbox-wrapper {
  width: 45px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper .form-type-textfield {
  margin: 13px 0 !important;
  padding: 0;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper label {

}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper .add-remove-wrapper {
  position: absolute;
  right: 0;
  top: 15px;
  width: 20px;
  margin: 0 15px 0 0;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper .add-remove-wrapper button {
  display: block;
  margin: 0 0 2px 0;
  padding: 2px 3px;
  width: 19px;
  font-size: 14px;
  line-height: 14px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .title-wrapper {
  padding: 12px 0 0 0;
  width: 45%;
  font-size: 12px;
  line-height: 1.3;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .title-wrapper .title {
  font-size: 20px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .price-edit-wrapper {
  width: 25%;
  text-align: left;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .total-wrapper {
  width: 15%;
  text-align: right;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .total-wrapper .btn {
  margin: 0 0 0 10px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .total-wrapper strong {
  margin-right: 15px;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .commerce-pos-discount-wrapper {
  padding: 10px;
  margin-left: 60%;
  clear: both;
  display: block;
  background: #F0F0F0;
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .commerce-pos-discount-wrapper.no-background {
  background: transparent;
}

#commerce-pos-customer-input-wrapper {
  border-top: 1px solid #eee;
}

#commerce-pos-pay-balance-wrapper #commerce-pos-customer-input-wrapper {
  margin-top: 20px;
}

.commerce-pos-discount-wrapper .form-wrapper {
  margin-top: 10px;
  display: inline;
}

#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue,
.commerce-pos-discount-wrapper .form-wrapper input[type="submit"] {
  background: #0091FF;
  color: #fff;
  border: 1px solid transparent;
}

#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue:hover,
#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue:focus,
.commerce-pos-discount-wrapper .form-wrapper input[type="submit"]:hover,
.commerce-pos-discount-wrapper .form-wrapper input[type="submit"]:focus {
  background: #087FDA;
}

.commerce-pos-discount-wrapper .form-item,
#commerce-pos-sale-wrapper .commerce-pos-discount-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
}

.commerce-pos-transaction-line-items * {
  vertical-align: middle;
}

.commerce-pos-transaction-line-items {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}

#commerce-pos-sale-wrapper .add-remove-wrapper input[type="submit"],
#commerce-pos-sale-wrapper .total-wrapper input[type="submit"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0;
  margin: 1px 0;
  background: #eee;
  border: 0;
  border-radius: 2px;
  transition: all .1s ease-in-out;
}

.total-wrapper input[type="submit"] {
  margin: 0 0 0 10px;
}

#commerce-pos-sale-wrapper .add-remove-wrapper input[type="submit"]:hover,
#commerce-pos-sale-wrapper .total-wrapper input[type="submit"]:hover,
#commerce-pos-sale-wrapper .add-remove-wrapper input[type="submit"]:focus,
#commerce-pos-sale-wrapper .total-wrapper input[type="submit"]:focus{
  background: #DCDCDC;
}

/*Sale - Discount Area*/
.commerce-pos-discount-wrapper .form-submit {
  margin: 0 2px;
}

/*Sale - Notes*/
.views-field-message-commerce-body {
  padding: 20px;
  background: #F0F0F0;
  margin: 20px 0 5px;
}

.views-field-message-commerce-body p:last-of-type {
  margin-bottom: 0;
}

#commerce-pos-messages-add-note-wrapper {
  margin-bottom: 20px;
}

#commerce-pos-messages-wrapper .views-field-name,
#commerce-pos-messages-wrapper .views-field-timestamp {
  font-size: 12px;
}

/*---------------------*/
/*Reports*/
/*---------------------*/
#edit-date {
  /* Fix item label position */
  float: none;
}

#commerce-pos-report-end-of-day .container-inline-date .form-item-date > label {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

#commerce-pos-report-end-of-day .container-inline-date .form-item .form-item,
#commerce-pos-report-end-of-day .form-item.form-item-location-id {
  margin: 0 15px 15px 0;
}

#commerce-pos-report-end-of-day .container-inline-date .form-item .form-item label,
#commerce-pos-report-end-of-day .form-item-location-id label {
  margin-bottom: 5px;
}

#commerce-pos-report-results-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E0E0E0;
  overflow-x: auto;
}

#commerce-pos-report-results-container table {
  margin: 0;
  width: 100%;
}

.sticky-enabled.tableheader-processed.sticky-table thead th {
  background-color: #E4E4E4;
  color: inherit;
  padding: 15px;
  font-weight: bold;
  border-color: transparent;
  border-right: 1px solid #fff;
}

.sticky-enabled.tableheader-processed.sticky-table tr.odd,
.sticky-enabled.tableheader-processed.sticky-table tr.even {
  background-color: #FFFFFF;
  border-color: transparent;
  border-bottom: 1px solid #eee;
}

.sticky-enabled.tableheader-processed.sticky-table tr td {
  padding: 15px;
}

/*---------------------*/
/*Refund*/
/*---------------------*/
#commerce-pos-return-payment .commerce-price-formatted-components, .payment-totals-table {
  width: 100%;
  margin-bottom: 0;
}

/*---------------------*/
/*Pay*/
/*---------------------*/
.commerce-pos-product-summary {
  width: 100%;
  margin: 0 0 20px;
}

.commerce-pos-product-summary td {
  vertical-align: middle;
  text-align: center;
}

.commerce-pos-product-summary td.title .title {
  font-weight: bold;
  font-size: 120%;
  margin-right: 10px;
}

.commerce-pos-product-summary td.title .sku {
  font-size: 80%;
}

.commerce-pos-product-summary tr.odd, .commerce-pos-product-summary tr.even {
  background: #fff;
}

.commerce-pos-product-summary tr td, .commerce-pos-product-summary tr th {
  border: 1px solid #E4E4E4;
}

.commerce-pos-pay-col-payments {
  float: left;
  width: 75%;
  padding-right: 20px;
  box-sizing: border-box;
}

.commerce-pos-pay-col-payments .order-text {
  display: inline-block;
  margin: 0 15px 15px 0;
}

.commerce-pos-pay-col-payments .commerce-pos-sale-pay-edit-order {
  padding: 5px 10px;
  background: #0091FF;
  color: #fff!important;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  transition: all .15s ease-in-out;
}

.commerce-pos-pay-col-payments .commerce-pos-sale-pay-edit-order:hover,
.commerce-pos-pay-col-payments .commerce-pos-sale-pay-edit-order:focus {
  background: #087FDA;
}

#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper {
  margin: 10px 0 20px;
  padding-top: 20px;
  border-top: 1px solid #F0F0F0;
}

#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper input.form-button-disabled {
  background-color: #eee;
  color: #A2A2A2;
  border-color: #ccc;
  cursor: default;
}

#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper input.form-button-disabled:hover {
  background-color: #eee!important;
}

#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper input {
  background-color: #ff9900;
  color: #fff;
  border-color: transparent;
  padding: 15px 25px;
  margin: 0 10px 0 0;
  font-size: 20px;
}

#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper input:hover,
#commerce-pos-pay-form-wrapper .edit-payment-options-wrapper input:focus {
  background-color: #E28B07;
}

/*---------------------*/
/*Keypad*/
/*---------------------*/
.commerce-pos-keypad * {
  box-sizing: border-box;
}

.commerce-pos-keypad {
  width: 75%;
}

.commerce-pos-keypad-amount .form-item-keypad-amount {
  margin-bottom: 0;
}

.commerce-pos-keypad-amount .form-item label {
  font-size: 24px;
  margin-bottom: 10px;
}

.commerce-pos-keypad-amount .form-item-keypad-amount input {
  max-width: 100% !important;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  height: auto;
  background: #FFFFFF !important;
  color: #000;
  border: 2px solid #D6D6D6;
  font-size: 30px;
  text-align: right;
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,.1);
}

.commerce-pos-keypad-amount .form-item-keypad-amount input.error {
  border: 2px solid red;
}

.commerce-pos-keypad-numbers {
  position: relative;
}

.commerce-pos-keypad-keys {
  overflow: hidden;
  border-right: 1px solid #D6D6D6;
}

.commerce-pos-keypad-key {
  box-sizing: border-box;
  width: 33.33%;
  display: block;
  float: left;
  padding: 14px;
  border: 1px solid #D6D6D6;
  border-right: 0;
  border-bottom: 0;
  font-size: 22px;
  text-align: center;
  background-color: #F0F0F0;
  color: #000000;
  cursor: pointer;
  transition: all .1s ease 0s;
}

.commerce-pos-keypad-key:hover, .commerce-pos-keypad-key:focus {
  background-color: #E4E4E4;
}

.commerce-pos-keypad-key.pressed {
  /*transition: all .2s ease 0s;*/
  /*box-shadow: inset 0 0 10px #C1C1C1;*/
  background-color: #E4E4E4;
}

.commerce-pos-keypad-actions button {
  width: 33%;
  padding: 15px;
  margin-right: 10px;
  border: 10px solid white;
  border-radius: 30px;
  float: right;
  font-size: 2em;
}

.commerce-pos-keypad-actions button:hover, .commerce-pos-keypad-actions button:focus {
  border-color: white;
}

.form-type-textfield.form-item-keypad-amount.form-text {
  width: 100%;
  padding: 40px 20px;
  background: #666;
  color: #fff;
  border: 0;
  border-right: 1px solid #fff;
  font-size: 50px;
  text-align: right;
}

.commerce-pos-keypad-key:last-of-type {
  background-color: #E4E4E4;
  color: #000;
}

.commerce-pos-keypad-key:last-of-type:hover, .commerce-pos-keypad-key:last-of-type:focus {
  background-color: #DADADA;
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
  position: relative;
  display: block;
  width: 100%;
  height: 62px;
  margin: 0;
  padding: 13px 15px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #0091FF;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  transition: all .15s ease-in-out;
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:hover,
#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:focus {
  background-color: #087FDA;
}

/*---------------------*/
/*Sidebar*/
/*---------------------*/
.commerce-price-formatted-components {
  margin-top: 0;
}

.commerce-pos-col-transaction-info table {
  width: 100%;
  font-size: 14px;
  border: 0;
}

.commerce-pos-col-transaction-info tbody {
  border: 0;
}

.commerce-pos-col-transaction-info tr.odd, .commerce-pos-col-transaction-info tr.even {
  padding: 0;
  width: 100%;
  background-color: #F0F0F0;
  color: #333;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
}

.commerce-pos-col-transaction-info tr.order-to-pay {
  background: #313131;
  color: #fff;
  font-size: 130%;
}

.commerce-pos-col-transaction-info td {
  padding: 15px 10px;
  border: 0;
}

.commerce-pos-col-transaction-info td:nth-child(1) {
  font-weight: bold;
}

.commerce-pos-col-transaction-info td:nth-child(2) {
  text-align: right;
}

.commerce-pos-col-transaction-info td.balance {
  font-weight: bold;
}

.form-item-transaction-options-actions-add-order-discount-amount {
  margin-bottom: 5px;
  display: inline;
}

#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper .form-text {
  padding: 9px;
  height: 34px;
  margin: 0 2px 0 0;
  vertical-align: middle;
}

#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper .form-submit {
  margin: 0 5px 0 0;
}

.form-item-transaction-options-customer label,
.form-item-transaction-options-actions-add-order-discount-amount label {
  margin-bottom: 5px;
}

#commerce-pos-discount-add-order-discount-wrapper {
  margin: 20px 0;
}

#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper input[type="submit"] {
  width: auto;
  display: inline-block;
}

#commerce-pos-transactions-options-wrapper .commerce-price-formatted-components {
  width: 100%;
  max-width: 100%;
}

#commerce-pos-transactions-options-wrapper .payment-totals-table {
  width: 100%;
  margin-bottom: 20px;
}

#commerce-pos-transactions-options-wrapper .views-table {
  width: 100%;
  margin-top: 0;
}

.commerce-price-formatted-components .component-title, .payment-totals-table .label {
  font-weight: bold;
}

#commerce-pos-pay-balance-wrapper .pager {
  margin: 0 0 20px 0;
}

/*---------------------*/
/*Status Messages*/
/*---------------------*/
div.status {
  margin: 15px 0;
  border-radius: 2px;
}

/*---------------------*/
/*Please Wait*/
/*---------------------*/
.ajax-progress-throbber {
  background-color: #fff;
  position: absolute;
  z-index: 100;
  border: 2px solid #ccc;
  padding: 10px;
  width: auto;
}

/*---------------------*/
/*Add Product (search bar)*/
/*---------------------*/
.commerce-pos-product-display {
  padding: 10px 10px 15px;
  border-bottom: 1px solid #eee;
  transition: all .2s ease-in-out;
}

.commerce-pos-product-display:hover,
.commerce-pos-product-display:focus,
.commerce-pos-transaction-product-search-item.selected .commerce-pos-product-display
{
  background: #F0F0F0;
}

.commerce-pos-product-display .display-image {
  float: left;
  margin: 5px 15px 0 0;
  border: 1px solid #eee;
}

.commerce-pos-product-display .display-details,
.commerce-pos-product-display .display-stock,
.commerce-pos-product-display .display-price,
.commerce-pos-product-display .display-add {
  /* Clear image */
  padding-left: 90px;
}

.commerce-pos-product-display .display-details {
  font-size: 10px;
}

.commerce-pos-product-display .display-details .title {
  font-weight: bold;
  font-size: 18px;
}

.commerce-pos-product-display .display-price {
  font-weight: bold;
}

.commerce-pos-product-display .display-add {
  float: right;
}

.commerce-pos-product-display .display-add a {
  display: inline-block;
  padding: 0 8px 2px;
  margin: 5px 0 0 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0091FF;
  color: white;
  transition: all .15s ease-in-out;
}

.commerce-pos-product-display .display-add a:hover,
.commerce-pos-product-display .display-add a:focus {
  background-color: #087FDA;
}

/*---------------------*/
/*Content*/
/*---------------------*/
.page-pos-float .pos-main-content {
  padding-top: 50px;
}

h1.page-header {
  display: none;
}

.page-pos-float h1.page-header,
.page-pos-login h1.page-header {
  display: block;
}

/*---------------------*/
/*Login*/
/*---------------------*/
#pos-login-cont {
  position: relative;
  margin: 50px auto 0 auto;
  max-width: 400px;
  border-left: 1px solid #151515;
  border-right: 1px solid #151515;
  border-bottom: 1px solid #151515;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  background: #fff;
}

#pos-login-content {
  margin: 0;
  padding: 23px 10px 45px 10px;
}

#pos-login-header {
  margin: 0;
  padding: 15px;
  text-align: center;
  background: #151515;
}

/*---------------------*/
/*Enter Float*/
/*---------------------*/
#commerce-pos-location-float-form #edit-actions {
  margin-top: -6px;
}

#commerce-pos-location-float-form #edit-amount {
  height: 32px;
  margin-top: 5px;
}

/*---------------------*/
/*MEDIA QUERIES*/
/*---------------------*/

/* 980px and below */
@media screen and (max-width: 980px) {
  .commerce-pos-col-products, .commerce-pos-pay-col-payments {
    width: 65%;
  }

  .commerce-pos-col-transaction-info {
    width: 35%;
  }

  /*---------------------*/
  /*Sale*/
  /*---------------------*/
  .commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper {
    width: 15%;
  }

  .commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .title-wrapper {
    width: 45%;
  }

  /*---------------------*/
  /*Keypad*/
  /*---------------------*/
  .commerce-pos-keypad {
    width: 100%;
  }

  #commerce-pos-pay-form-wrapper .commerce-pos-pay-col-payments .form-wrapper input {
    padding: 10px 15px;
    font-size: 16px;
  }
  
}

/* 800px and below */
@media screen and (max-width: 800px) {
  #commerce-pos-header #pos-logo {
    padding-top: 11px;
    max-width: 161px;
  }
}

/* 767px and below - Down to Phone */
@media screen and (max-width: 767px) {
  /*---------------------*/
  /*Top Bar*/
  /*---------------------*/
  #commerce-pos-header .commerce-pos-header-employee-info {
    float: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  #commerce-pos-header .commerce-pos-header-links ul li a {
    padding: 6px 13px;
    font-size: 13px;
  }

  .commerce-pos-col-products, .commerce-pos-pay-col-payments {
    float: none;
    margin: 0 0 30px 0;
    padding: 0;
    width: auto;
  }

  .commerce-pos-col-transaction-info {
    float: none;
    width: auto;
  }

  /*---------------------*/
  /*Keypad*/
  /*---------------------*/
  .commerce-pos-keypad-amount .form-item-keypad-amount input {
    font-size: 30px;
  }

  .commerce-pos-keypad-key {
    font-size: 20px;
  }

  .commerce-pos-keypad-key, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
    padding: 10px;
  }

  #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
    height: 51px;
  }

  /*---------------------*/
  /*Sale*/
  /*---------------------*/
  .commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .quantity-wrapper {
    width: 65px;
  }

  .commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper .title-wrapper {
    width: 45%;
  }

  .commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper {
    padding: 20px 0;
  }
}