/**
 * @file
 * Styles to format the end of day report for printing on a receipt.
 */
@page {
  margin:0;
  size: 72mm 200mm;
}

body {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.pos-report-receipt h1 {
  font-size: 16px;
  text-align: center;
}

.pos-report-receipt h2 {
  font-size: 15px;
}

.pos-report-receipt table {
  width: 100%;
  margin-bottom: 20px;
}

.pos-report-receipt h3.title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.pos-report-receipt td {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 0 8px 0;
}

.pos-report-receipt td.label {
  padding-right: 15px;
  font-weight:  bold;
}

.pos-report-receipt td.value {
  text-align: right;
  width: 25%;
}

