@page {
  margin:5mm;
  size: 72mm 200mm;
}

.pos-receipt {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.pos-receipt .pos-order-info {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed #000;
}

.pos-receipt .pos-order-info .transaction-type {
}

/* BASIC TABLE STYLES */
.pos-receipt table {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #000;
}

.pos-receipt td,
.pos-receipt th {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.pos-receipt td.component-total {
  text-align: right;
}

.pos-receipt .receipt-hide {
  display: none;
}

.pos-receipt .receipt-header,
.pos-receipt .receipt-footer {
  text-align: center;
}

.pos-receipt .receipt-header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed black;
}

.pos-receipt .receipt-footer {
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
}

.pos-receipt table.commerce-pos-order {
  /*margin: 1em 0;*/
}

.pos-receipt tr.line-item td,
.pos-receipt tr.line-item-details td {
  border-bottom: 1px solid #000;
}

.pos-receipt tr.line-item.has-details td {
  border-bottom: 0;
}

.pos-receipt tr.last td {
  border-bottom: 0;
}
